body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edddd4;
}

h1,
p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.navbar {
  width: 100%;
  background: #197278;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.navbar h1 {
  color: #283d3b;
  font-size: 2.3rem;
  padding: 1rem;
}

.navbar form {
  margin: auto;
}

.container {
  padding: 2rem 3rem;
  max-width: 1000px;
  margin: auto;
}

.search-form {
  margin: auto;
  text-align: center;
  padding: 1rem 0;
}

.search-form input,
.search-form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: auto;
  color: #fff;
  border: none;
}

.search-form button {
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease, top 0.3s ease;
  position: relative;
  top: 0.15rem;
}

.search-form button:hover {
  transform: rotate(45deg);
  top: 0.1rem;
}

.search-form button:focus {
  outline: none;
}

.search-form button:active {
  color: #ddd;
}

.search-form input {
  background: #283d3b;
}

.search-form input:focus {
  outline: none;
}

.search-form input::placeholder {
  color: rgba(255, 255, 255, 0.651);
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.recipe {
  background: #fff;
  border-radius: 20px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.recipe .recipe-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.recipe .recipe-info .text {
  margin: 2rem 0;
}

.recipe .recipe-info .text h1 {
  display: inline;
  padding: 0.2rem 0;
}

.recipe .recipe-info .text p {
  font-style: italic;
  padding: 0.5rem 0 0.7rem 0;
}

.recipe .recipe-info .text li {
  text-align: left;
  list-style: none;
  border-bottom: 2px rgba(100, 100, 100, 0.2) dotted;
  padding: 0.5rem 0;
}

.recipe .recipe-info .text li:last-child {
  border: none;
}

.recipe img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  border: 5px #c44536 solid;
}

.recipe .back {
  color: grey;
  text-decoration: none;
  padding-bottom: 2rem;
}

.right-sect {
  margin: 2rem;
}

.btn-dark {
  background: #c44536;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: 0.1s all ease;
}

.btn-dark:hover {
  background: #772e25;
}

.intro {
  text-align: center;
  padding: 1.5rem 0 0 0;
}

.btn-none {
  text-decoration: none;
  color: #772e25;
  border: none;
}

@media (max-width: 901px) {
  .recipe .recipe-info {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe .recipe-info ul {
    padding-right: 2.5rem;
  }
  .right-sect {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-sect a {
    margin-bottom: 2rem;
  }
  .right-sect img {
    height: 100%;
    margin: 0 2rem 1.5rem 2rem;
  }
}

@media (max-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar h1 {
    padding-bottom: 0;
    padding-top: 0.5rem;
  }
  .navbar .search-form {
    padding-top: 0.5rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.5rem;
  }
  .container {
    padding: 1.5rem;
  }
  .search-form input {
    font-size: 1rem;
  }
  .right-sect img {
    height: 200px;
    width: 200px;
  }
}
/*# sourceMappingURL=App.css.map */